@import '../../styles/colors.scss';

.form-control {
  padding: 15px 10px;
  border: 1px solid $label;
  margin-bottom: 0.5rem;
  width: 100%;
}

.form-button {
  width: 100%;
  color: $secondary;
  background: $primary;
  padding: 20px 10px;
  margin-top: 1rem;
  cursor: pointer;
  &:hover {
    opacity: 0.5;
  }

  &:disabled {
    background: $disabled;

    &:hover {
      opacity: 1;
    }
  }
}
